body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom {
  background-color: #04395E;
}

.navbar-brand, .nav-item, .nav-link {
  color: white;
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover {
  color: #D5896F;
}

.search {
  color: white;
  background-color: #04395E;
  border-color: white;
}

.search:hover {
  background-color: #031D44;
  border-color: #D5896F;
  color: #D5896F;
}

.d-block.w-100 {
  height: 40rem;
  object-fit: cover;
}

.travel-card {
  width: 14rem;
  border-color: #031D44;
  color:#031D44;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.like-button, .comment-button {
  font-size: 1rem;
  color:#04395E;
  background-color:white;
  border-color: white;
}

.like-button:hover, .comment-button:hover {
  color:#04395E;
  background-color: white;
  border-color: white;
}

.like-button i,
.comment-button i {
  font-size: 2rem;
}

.like-button i:hover,
.comment-button i:hover {
  color:#D5896F;
}

.travel-card-footer {
  background-color: white;
}

/*

#031D44 - dark blue
#04395E - lighter Blue
#70A288 - green
#DAB785 - tan
#D5896F - reddish

*/