body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom {
  background-color: #04395E;
}

.navbar-brand, .nav-item, .nav-link {
  color: white;
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover {
  color: #D5896F;
}

.search {
  color: white;
  border-color: white;
}

.search:hover {
  background-color: #031D44;
  border-color: #D5896F;
  color: #D5896F;
}

/*

#031D44 - dark blue
#04395E - lighter Blue
#70A288 - green
#DAB785 - tan
#D5896F - reddish

*/